<div class="admin_block">
    <div class="admin_panel">Админ Панель</div>
    <div class="admin_section <%= activeTab === 'list' ? 'admin_section_ch' : ''%>">
        <a class="section_name" href="/admin/?pass=<%= ADIMN_PASSWORD%>">Список игрушек</a>
    </div>
    <div class="admin_section <%= activeTab === 'add' ? 'admin_section_ch' : ''%>">
        <a class="section_name" href="/admin/create?pass=<%= ADIMN_PASSWORD%>">Добавить Игрушку</a>
    </div>
    <div class="admin_section <%= activeTab === 'analysis' ? 'admin_cection_ch' : ''%>">
        <a class="section_name" href="/admin/analysis?pass=<%= ADIMN_PASSWORD%>">Аналитика</a>
    </div>
</div>