<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/toy.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <title>Главная</title>
</head>

<body>
<%- include('blocks/header.ejs') %>
<div class="body container toy_block">
    <div class="body toy_imgs">
        <div class="mini_block">
            <% toy.images.forEach((url, index) => { %>
                <div class="mini_container <%= index === 0 ? 'mini_container--active' : ''%>">
                    <div class="mini_image mini_image_ch"><img src="<%= url%>" alt=""></div>
                </div>
            <% }) %>
        </div>
        <div class="norm_image"><img src="<%= toy.images[0]%>" alt=""></div>
    </div>
    <div class="toy_info">
        <div class="toy_rar"><%= toy.status %></div>
        <h1 class="name_toy"><%= toy.title %></h1>
        <p class="toy_descr">
            <%= toy.desc %>
        </p>
    </div>
</div>

<script defer src="/static/js/toy.js"></script>
</body>

</html>
